header {
  grid-area: header;
  padding: 0 1rem;
  font-family: "Avenir Next", "Avenir", sans-serif;
  display: flex;
  align-items: center;
  background: #323232;
  transition: top 0.3s;
}
header a {
  text-decoration: none;
}
header a:visited {
  color: #cdcdcd;
}
header a.logo {
  order: 1;
  flex-grow: 20;
  font-size: 2.4rem;
  padding-left: 1rem;
  color: #cdcdcd;
  font-family: "Times New Roman";
}
header a:visited {
  color: #cdcdcd;
}
header label {
  display: block;
  color: #cdcdcd;
  padding: 1rem;
  margin: 1.2rem;
  font-size: 2.4rem;
  order: 5;
  cursor: pointer;
}
header label:hover {
  color: #4b83f2;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header input {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
header nav.login {
  order: 3;
}
header nav.login ul {
  display: flex;
  flex-direction: row;
}
header nav.login a {
  font-size: 2rem;
  padding: 1rem;
}
header nav.login a.signup {
  background-color: #4b83f2;
}
header nav.login a:hover {
  background-color: #3b4a96;
  transition: all 0.25s ease;
}
header summary {
  /* Hide the blue outline when you click the details element */
  outline: none;
}
.headerlogo {
  /* Gotta do the hacky placements because the SVG bounds seem to be odd */
  width: 3rem;
  height: 3rem;
  fill: #4b83f2;
}
.content {
  grid-area: content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

main {
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(60ch, 1fr));
  color: #323232;
}
main h2 {
  padding: 0 1rem 1rem 0;
  font-family: "Avenir Next", "Avenir", "Nunito", "Lato", sans-serif;
  font-size: 30px;
  margin-bottom: -1rem;
}

main form {
  background: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
main form input {
  font-family: "Georgia", "Times", "Times New Roman", serif;
  font-size: 16px;
}

main form label,
main form button {
  font-size: 16px;
  font-family: "Avenir Next", "Avenir", "Nunito", "Lato", sans-serif;
}
body {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 68px auto auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
}
main section {
  padding: 1.5rem;
  width: auto;
  background-color: white;
}
main section h2 {
  font-family: "Avenir Next", "Avenir", "Nunito", "Lato", sans-serif;
  color: #323232;
  font-size: 30px;
}
main section p {
  font-family: "Georgia", "Times", "Times New Roman", serif;
}

footer {
  grid-area: footer;
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #323232;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}
footer ul {
  list-style-type: none;
}
footer li a {
  text-decoration: none;
  display: block;
}
footer section.branding {
  padding: 2rem;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer nav.leftfooter {
  padding: 1rem;
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: top;
}
footer nav.rightfooter {
  padding: 1rem;
  order: 2;
  display: flex;
  flex: end;
  flex-direction: column;
  justify-content: top;
}
footer nav details {
  padding: 1rem;
}
footer svg {
  display: block;
  width: 6em;
  height: 6em;
  fill: #4b83f2;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
}
footer nav details[open] footer nav details[open] li a {
  color: #cdcdcd;
}
footer nav details[open] li a:hover {
  color: #3b4a96;
}