header {
  grid-area: header;
  font-family: "Avenir Next", "Avenir", sans-serif;
  transition: top 0.3s;
}
header li {
  padding: 1rem;
}
header a {
  text-decoration: none;
  color: #323232;
}
header a:visited {
  color: #323232;
}
header label:hover {
  color: #3b4a96;
}
.content {
  grid-area: content;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
main {
  display: -ms-grid;
  display: -moz-grid;
  display: grid;
  grid-gap: 1rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(60ch, 1fr));
  color: #323232;
}
main h2 {
  padding: 0 1rem 1rem 0;
  font-family: "Avenir Next", "Avenir", "Nunito", "Lato", sans-serif;
  font-size: 30px;
  margin-bottom: -1rem;
}
main form {
  background: white;
  padding: 1rem;  
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
main form input {
  font-family: "Georgia", "Times", "Times New Roman", serif;
  font-size: 16px;
}
main form label,
main form button {
  font-size: 16px;
  font-family: "Avenir Next", "Avenir", "Nunito", "Lato", sans-serif;
}
body {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: 10rem auto auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
}
main section {
  padding: 1.5rem;
  width: auto;
  background-color: white;
}
main section h2 {
  font-family: "Avenir Next", "Avenir", "Nunito", "Lato", sans-serif;
  color: #323232;
  font-size: 30px;
}
main section p {
  font-family: "Georgia", "Times", "Times New Roman", serif;
}
footer {
  grid-area: footer;
  padding: 1rem;
  padding-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #323232;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}
footer ul {
  list-style-type: none;
}
footer li a {
  text-decoration: none;
  display: block;
}
@media all and (max-width: 800px) {
  footer {
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  .leftfooter {
    order: 1;
  }
  .rightfooter {
    order: 2;
  }
  .branding {
    padding-top: 1rem;
    order: 3;
  }
}
footer section.branding {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer nav.leftfooter {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: top;
}
footer nav.rightfooter {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: top;
}
footer svg {
  display: block;
  width: 6em;
  height: 6em;
  fill: #4b83f2;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
}
footer nav details[open] li a {
  color: #cdcdcd;
}
footer nav details[open] li a:hover {
  color: #3b4a96;
}